body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background:linear-gradient(to bottom right, #036319 , #02672a,#02662a,#037429,#035b11); */
    background-repeat: no-repeat;
    background-size: cover;
}

.about_us
{
    margin: 0;
    height: 400px;
    width: 100%;
   
    /* background:linear-gradient(to bottom right, #092E20 , #234F32,#326342,#234F32,#092E20); */
    background: url("images/farm_back.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
   
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #092E20 ;

    border-width: 5px;
    
}
.Content
{
    display: flex;
   
    
    
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;

    


}

.abt_us_back
{
    position: relative;
    top: 50px;
    /* background-color: #9ebca8a7; */
    text-align: center;
    align-items: center;
    padding: 30px;
    margin: 0 400px;
    border-radius: 20px;
    
    
}

.Content img
{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    
}

.about_us h1
{
    margin-top: 0;

    
}

.mvp
{
    padding: 100px;
}
.mvp1
{
    display: flex;
    padding: 0 80px 80px 80px;
}
.rows
{
    
    padding: 20px;
    

}
.rows2
{
    width: 50%;
    
    /* margin-left: 20px; */
}
.rows2 img{
    width: 80%;
}

@media only screen and (max-width:1255px) {
    .abt_us_back
    {
        position: static;
        margin: 0 200px;
    }
}
@media only screen and (max-width:820px) {
    .abt_us_back
    {
        position: static;
        margin: 0 100px;
    }
    .mvp1
    {
        display: block;
    }
    .rows2 img{
        width: 500px;
    }
    .rows2
    {
        width: 500px;
    }
}
@media only screen and (max-width:612px) {
    .abt_us_back
    {
        position: static;
        margin: 0 50px;
    }
    .mvp1
    {
        display: block;
    }
    .rows2 img{
        width: 450px;
    }
    .rows2
    {
        width: 450px;
    }
}
@media only screen and (max-width:559px) {
    .abt_us_back
    {
        position: static;
        margin: 0;
    }
    .mvp1
    {
        display: block;
    }
    .rows2 img{
        width: 250px;
    }
    .rows2
    {
        width: 250px;
    }
}
